.Input .InputLabel {
  font-size: var(--pt14);
  font-weight: bold;
  color: #494949;
  display: block;
}
.Input .InputSubtitle {
  font-size: var(--pt12);
  font-weight: normal;
  color: #494949;
  display: block;
  margin-top: var(--pt8);
}

.Input input {
  border: solid var(--pt2) transparent;
  height: var(--pt36);
  border-radius: var(--pt3);
  padding-left: var(--pt8);
  background-color: var(--ui-1);
  font-family: HelveticaNeue;
  font-size: var(--pt14);
  outline: none;
  transition: background-color 250ms ease;
  background-color: var(--input-color-light);
}

.Input input::placeholder {
  font-size: var(--pt14);
  color: #afafaf;
  display: flex;
  align-items: center;
}

/* disabled */
.Input.Input-disabled {
  background-color: var(--ui-1);
  opacity: 0.3;
}
.Input.Input-disabled input {
  color: var(--text-default);
  /* opacity: 0.3; */
}

/* hover */
.Input input:hover {
  background-color: var(--ui-2);
}
.Input input::placeholder:hover {
  background-color: var(--ui-2);
}

/* colorstyle */
.Input input:focus {
  background-color: transparent;
  border: solid var(--pt2) var(--input-color);
  color: var(--input-color-dark);
}
/* .Input input:focus:active {
  color: var(--input-color-dark);
  background-color: var(--input-color-light);
} */
.Input input:not(:focus) + .InputSubtitle {
  color: var(--input-color-dark);
}
