button {
  text-decoration: none;
  border: none;
  outline: none;
  transition: background 250ms ease;
}

.Button:hover {
  cursor: pointer;
  background: var(--hover);
  transition: background 250ms ease;
}

.Button:focus:not(.Button-disabled) {
  box-shadow: 0 0 0px var(--pt2) white, 0 0 0px var(--pt4) var(--focus);
  background: var(--focus);
}

.Button:active {
  box-shadow: inset 0 0 var(--pt12) rgba(0, 0, 0, 0.4);
  background: var(--active);
}

.Button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
.Button-disabled * {
  cursor: not-allowed;
}

.Button-default {
  padding: var(--pt8) var(--pt16);
  border-radius: var(--pt3);
}
.Button-small {
  padding: var(--pt4) var(--pt8);
  border-radius: var(--pt2);
}
.Button-large {
  padding: var(--pt8) var(--pt16);
  border-radius: var(--pt3);
}
.Button-primary {
  background-color: var(--brand);
  color: var(--text-white);
  --hover: var(--brand-dark);
  --focus: var(--brand-dark);
  --active: var(--brand-dark);
}
.Button-success {
  background-color: var(--success);
  color: var(--text-white);
  --hover: var(--success-dark);
  --focus: var(--success-dark);
  --active: var(--success-dark);
}
.Button-destructive {
  background-color: var(--danger);
  color: var(--text-white);
  --hover: var(--danger-dark);
  --focus: var(--danger-dark);
  --active: var(--danger-dark);
}
.Button-subdued {
  background-color: var(--ui-1);
  color: var(--text-subtle);
  --hover: var(--ui-2);
  --focus: var(--ui-2);
  --active: var(--ui-2);
}
.Button-ghost {
  background-color: var(--ui-0);
  color: var(--text-subtle);
  --hover: var(--ui-2);
  --focus: var(--ui-1);
  --active: var(--ui-2);
}
