button {
  text-decoration: none;
  border: none;
  outline: none;
  transition: background 250ms ease;
}

.Button:hover {
  cursor: pointer;
  background: var(--hover);
  transition: background 250ms ease;
}

.Button:focus {
  box-shadow: 0 0 0px 2px white, 0 0 0px 4px var(--focus);
  background: var(--focus);
}

.Button:active {
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.4);
  background: var(--active);
}

.Button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.Button-default {
  padding: 8px 16px;
  border-radius: 3px;
}
.Button-small {
  padding: 4px 8px;
  border-radius: 2px;
}
.Button-large {
  padding: 8px 16px;
  border-radius: 3px;
}
.Button-primary {
  background-color: var(--brand);
  color: var(--text-white);
  --hover: var(--brand-1);
  --focus: var(--brand-1);
  --active: var(--brand-1);
}
.Button-success {
  background-color: var(--success);
  color: var(--text-white);
  --hover: var(--success-1);
  --focus: var(--success-1);
  --active: var(--success-1);
}
.Button-destructive {
  background-color: var(--danger);
  color: var(--text-white);
  --hover: var(--danger-1);
  --focus: var(--danger-1);
  --active: var(--danger-1)
}
.Button-subdued {
  background-color: var(--ui-1);
  color: var(--text-subtle);
  --hover: var(--ui-2);
  --focus: var(--ui-2);
  --active: var(--ui-2);
}
.Button-ghost {
  background-color: var(--ui-0);
  color: var(--text-subtle);
  --hover: var(--ui-2);
  --focus: var(--ui-0);
  --active: var(--ui-2);
}
