.Checkbox {
  display: flex;
}
.Checkbox_label input {
  display: none;
}

.Checkbox_label span {
  /* margin-top: var(--pt3); */
  margin-right: var(--pt10);
  display: block;
  width: var(--pt14);
  height: var(--pt14);
  border-radius: var(--pt2);
  border: solid var(--pt2) var(--ui-3);
}

.Checkbox_label input:checked + span {
  display: block;
  width: var(--pt14);
  height: var(--pt14);
  border-radius: var(--pt2);
  background-color: var(--brand-default);
  border: solid var(--pt2) var(--brand-dark);
  background-image: url('./Check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.Checkbox_label.CheckStatus_mixed input:checked + span {
  display: block;
  width: var(--pt14);
  height: var(--pt14);
  border-radius: var(--pt2);
  background-color: var(--text-0);
  border: solid var(--pt2) var(--brand-dark);
  /* background-image: url('./Check.svg');
  background-repeat: no-repeat;
  background-position: center; */
}

/* disabled */
.Checkbox.Checkbox_disabled {
  /* border: solid var(--pt2) var(--ui-1); */
  opacity: 0.3;
}
.Checkbox.Checkbox_disabled input {
  /* color: var(--text-default); */
  border: solid var(--pt2) var(--ui-1);
  /* opacity: 0.3; */
}
